javaWorkspace/.metadata/
**/.settings/
**/bin/
*.project
*.classpath
setup/
miniTemp/
htmlRepo/media/
cssRepo/media/
*.jar
log.txt
**/resources/img/
**/Servers/
*.MF
springRepo/**/.gitignore
.metadata
.springBeans
log4j.xml
root-context.xml
pom.*
servlet-context.xml
*/target/*